<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{5,5},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{5,110},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HappyStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{5,215},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{5,284},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>White2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{5,389},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{115,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d7b1a5753c0f6e7ce299d6fb96e506:9434d0dffedd42f5fd7fbe3fc0104711:740e8b278989ded0e6d093e12868dbf3$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
